/* line 4, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../sass/partials/_default.scss */
body {
  color: #666;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-indent: 0px;
  text-align: left;
}
/* line 2, ../sass/partials/_default.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: Georgia,"Times New Roman",Times,serif;
  color: #ab8000;
}
/* line 11, ../sass/partials/_links.scss */
body a, body a:visited {
  color: #87af0e;
}
/* line 14, ../sass/partials/_links.scss */
body a:hover {
  color: black;
}
/* line 7, ../sass/partials/_default.scss */
body ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
/* line 60, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body ul li:first-child, body ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
body ul li.last {
  padding-right: 0;
}
/* line 16, ../sass/partials/_default.scss */
body .container {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 22, ../sass/partials/_default.scss */
body p {
  padding-top: 10px;
}

/* line 1, ../sass/partials/_forms.scss */
div.form {
  padding-left: 80px;
  padding-top: 10px;
}
/* line 4, ../sass/partials/_forms.scss */
div.form h1 {
  font-size: 25px;
  padding-bottom: 20px;
}
/* line 9, ../sass/partials/_forms.scss */
div.form div.form_element {
  display: inline;
  float: left;
  margin-right: 0;
  width: 989.167px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.form div.form_element {
  overflow-x: hidden;
}
/* line 12, ../sass/partials/_forms.scss */
div.form div.element {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 444.167px;
  padding-bottom: 30px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.form div.element {
  overflow-x: hidden;
}
/* line 16, ../sass/partials/_forms.scss */
div.form div.element input {
  width: 400px;
  height: 40px;
  font-size: 1.2em;
}
/* line 21, ../sass/partials/_forms.scss */
div.form div.element input.submit {
  width: 404px;
}
/* line 25, ../sass/partials/_forms.scss */
div.form div.element select {
  width: 400px;
  height: 40px;
  font-size: 1.2em;
}
/* line 32, ../sass/partials/_forms.scss */
div.form div.element div.day {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 80.833px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.form div.element div.day {
  overflow-x: hidden;
}
/* line 34, ../sass/partials/_forms.scss */
div.form div.element div.day select {
  width: 70px;
}
/* line 38, ../sass/partials/_forms.scss */
div.form div.element div.month {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 171.667px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.form div.element div.month {
  overflow-x: hidden;
}
/* line 40, ../sass/partials/_forms.scss */
div.form div.element div.month select {
  width: 160px;
}
/* line 44, ../sass/partials/_forms.scss */
div.form div.element div.year {
  display: inline;
  float: left;
  margin-right: 0;
  width: 171.667px;
}
/* line 45, ../sass/partials/_forms.scss */
div.form div.element div.year input {
  width: 130px;
  height: 35px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.form div.element div.year {
  overflow-x: hidden;
}
/* line 52, ../sass/partials/_forms.scss */
div.form div.element input#isorthodoxy {
  width: 10px;
}
/* line 56, ../sass/partials/_forms.scss */
div.form div.element dt#isorthodoxy-label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 262.5px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.form div.element dt#isorthodoxy-label {
  overflow-x: hidden;
}
/* line 59, ../sass/partials/_forms.scss */
div.form div.element dd#isorthodoxy-element {
  display: inline;
  float: left;
  margin-right: 0;
  width: 171.667px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.form div.element dd#isorthodoxy-element {
  overflow-x: hidden;
}
/* line 61, ../sass/partials/_forms.scss */
div.form div.element dd#isorthodoxy-element input {
  width: 20px;
  height: 24px;
}
/* line 69, ../sass/partials/_forms.scss */
div.form div.information {
  display: inline;
  float: left;
  margin-right: 0;
  width: 625.833px;
  padding: 20px 20px;
  width: 300px;
  font-family: Georgia,"Times New Roman",Times,serif;
  color: #666;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html div.form div.information {
  overflow-x: hidden;
}
/* line 73, ../sass/partials/_forms.scss */
div.form div.information .link {
  padding-top: 10px;
}
/* line 82, ../sass/partials/_forms.scss */
div.form ul.errors li {
  color: red;
  font-size: 0.8em;
}
/* line 87, ../sass/partials/_forms.scss */
div.form div.error {
  color: red;
  font-size: 0.8em;
}
/* line 88, ../sass/partials/_forms.scss */
div.form div.success {
  color: green;
  font-size: 0.8em;
}

/* line 9, ../sass/screen.scss */
body {
  background: url(../images/body_fon.jpg);
}
/* line 15, ../sass/screen.scss */
body #header_menu {
  height: 30px;
  background: #2d2d2d;
  border-bottom: 1px solid #000;
}
/* line 3, ../sass/partials/_links.scss */
body #header_menu a {
  text-decoration: none;
  font-size: 12px;
}
/* line 11, ../sass/partials/_links.scss */
body #header_menu a, body #header_menu a:visited {
  color: #999999;
}
/* line 14, ../sass/partials/_links.scss */
body #header_menu a:hover {
  color: white;
}
/* line 23, ../sass/screen.scss */
body div.navigation {
  padding-top: 3px;
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 27, ../sass/screen.scss */
body div.navigation ul.sitemenu {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 171.667px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div.navigation ul.sitemenu {
  overflow-x: hidden;
}
/* line 31, ../sass/screen.scss */
body div.navigation ul.sitemenu li#rss a {
  margin-top: 2px;
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('/images/link_icons/rss.png?1351061448');
}
/* line 37, ../sass/screen.scss */
body div.navigation ul.sitemenu li#home a {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('/images/link_icons/home.png?1351061448');
}
/* line 43, ../sass/screen.scss */
body div.navigation ul.usermenu {
  padding-left: 480px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 353.333px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div.navigation ul.usermenu {
  overflow-x: hidden;
}
/* line 46, ../sass/screen.scss */
body div.navigation ul.usermenu li {
  padding-left: 20px;
}
/* line 51, ../sass/screen.scss */
body div#month_menu {
  border-bottom: 1px solid #E4E4E4;
}
/* line 53, ../sass/screen.scss */
body div#month_menu div.navigation {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 55, ../sass/screen.scss */
body div#month_menu div.navigation ul {
  display: table;
  margin: 0 auto;
}
/* line 58, ../sass/screen.scss */
body div#month_menu div.navigation ul li {
  margin: 10px 10px 0px 0px;
  height: 30px;
  width: 70px;
  text-align: center;
}
/* line 3, ../sass/partials/_links.scss */
body div#month_menu div.navigation ul li a {
  text-decoration: none;
  font-size: 12px;
}
/* line 11, ../sass/partials/_links.scss */
body div#month_menu div.navigation ul li a, body div#month_menu div.navigation ul li a:visited {
  color: #666666;
}
/* line 14, ../sass/partials/_links.scss */
body div#month_menu div.navigation ul li a:hover {
  color: black;
}
/* line 65, ../sass/screen.scss */
body div#month_menu div.navigation ul li.active {
  background: url("/images/sancta_sprite.png") no-repeat scroll -50px -200px transparent;
}
/* line 67, ../sass/screen.scss */
body div#month_menu div.navigation ul li.active a {
  font-weight: bold;
  color: black;
}
/* line 77, ../sass/screen.scss */
body div#page {
  background: url("/images/line_fon.png") repeat scroll left top transparent;
  width: 100%;
  padding-top: 30px;
  margin: 80px 0px;
  padding-bottom: 20px;
}
/* line 79, ../sass/screen.scss */
body div#page div#content {
  padding-left: 480px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 535px;
  font-style: italic;
  color: #666;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#page div#content {
  overflow-x: hidden;
}
/* line 86, ../sass/screen.scss */
body div#page_about {
  background: url("/images/line_fon.png") repeat scroll left top transparent;
  width: 100%;
  padding-top: 30px;
  margin: 80px 0px;
  padding-bottom: 20px;
}
/* line 88, ../sass/screen.scss */
body div#page_about div#logo {
  padding-left: 120px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 398.75px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#page_about div#logo {
  overflow-x: hidden;
}
/* line 92, ../sass/screen.scss */
body div#page_about div#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 535px;
  font-style: italic;
  color: #666;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#page_about div#content {
  overflow-x: hidden;
}
/* line 98, ../sass/screen.scss */
body div#page_donate {
  background: url("/images/line_fon.png") repeat scroll left top transparent;
  width: 100%;
  padding-top: 30px;
  margin: 80px 0px;
  padding-bottom: 20px;
}
/* line 100, ../sass/screen.scss */
body div#page_donate div#inform {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 535px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#page_donate div#inform {
  overflow-x: hidden;
}
/* line 102, ../sass/screen.scss */
body div#page_donate div#inform div#example {
  margin-top: 3px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 126.25px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#page_donate div#inform div#example {
  overflow-x: hidden;
}
/* line 106, ../sass/screen.scss */
body div#page_donate div#inform div#banner {
  display: inline;
  float: left;
  margin-right: 0;
  width: 398.75px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#page_donate div#inform div#banner {
  overflow-x: hidden;
}
/* line 111, ../sass/screen.scss */
body div#page_donate div#content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 535px;
  font-style: italic;
  color: #666;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#page_donate div#content {
  overflow-x: hidden;
}
/* line 122, ../sass/screen.scss */
body div#today_block, body div#article_card {
  background: url("/images/line_fon.png") repeat scroll left top transparent;
  width: 100%;
  padding-top: 30px;
  margin: 80px 0px;
  padding-bottom: 20px;
}
/* line 125, ../sass/screen.scss */
body div#today_block div.container, body div#article_card div.container {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 127, ../sass/screen.scss */
body div#today_block div.container .information, body div#article_card div.container .information {
  color: #666;
}
/* line 129, ../sass/screen.scss */
body div#today_block div.container .information a, body div#article_card div.container .information a {
  font-style: italic;
  font-family: Georgia,"Times New Roman",Times,serif;
  padding: 10px 0 10px 0;
  font-size: 16px;
}
/* line 11, ../sass/partials/_links.scss */
body div#today_block div.container .information a, body div#today_block div.container .information a:visited, body div#article_card div.container .information a, body div#article_card div.container .information a:visited {
  color: #666666;
}
/* line 14, ../sass/partials/_links.scss */
body div#today_block div.container .information a:hover, body div#article_card div.container .information a:hover {
  color: black;
}
/* line 137, ../sass/screen.scss */
body div#today_block div.container div#today, body div#article_card div.container div#today {
  padding-left: 40px;
  padding-right: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 580.417px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#today_block div.container div#today, * html body div#article_card div.container div#today {
  overflow-x: hidden;
}
/* line 142, ../sass/screen.scss */
body div#today_block div.container div#today h2, body div#article_card div.container div#today h2 {
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -1px;
  font-family: "ff-scala-sans-web-1","ff-scala-sans-web-2","Lucida Grande","Helvetica",sans-serif;
  padding-bottom: 0px;
}
/* line 150, ../sass/screen.scss */
body div#today_block div.container div#today #events, body div#today_block div.container div#today #articles, body div#article_card div.container div#today #events, body div#article_card div.container div#today #articles {
  margin-top: 20px;
}
/* line 154, ../sass/screen.scss */
body div#today_block div.container div#today #articles, body div#article_card div.container div#today #articles {
  border-top: 1px solid #E4E4E4;
}
/* line 11, ../sass/partials/_links.scss */
body div#today_block div.container div#today div.note a, body div#today_block div.container div#today div.note a:visited, body div#article_card div.container div#today div.note a, body div#article_card div.container div#today div.note a:visited {
  color: #666666;
}
/* line 14, ../sass/partials/_links.scss */
body div#today_block div.container div#today div.note a:hover, body div#article_card div.container div#today div.note a:hover {
  color: black;
}
/* line 161, ../sass/screen.scss */
body div#today_block div.container div#today div#icons_day, body div#article_card div.container div#today div#icons_day {
  padding-top: 30px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 580.417px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#today_block div.container div#today div#icons_day, * html body div#article_card div.container div#today div#icons_day {
  overflow-x: hidden;
}
/* line 164, ../sass/screen.scss */
body div#today_block div.container div#today div#icons_day div.icon, body div#article_card div.container div#today div#icons_day div.icon {
  margin: 2px;
  height: auto;
  width: 180px;
  float: left;
  text-align: center;
}
/* line 170, ../sass/screen.scss */
body div#today_block div.container div#today div#icons_day div.icon img, body div#article_card div.container div#today div#icons_day div.icon img {
  display: inline;
  margin: 3px;
  padding: 10px;
  border: 1px solid #E4E4E4;
}
/* line 176, ../sass/screen.scss */
body div#today_block div.container div#today div#icons_day div.icon a img:hover, body div#article_card div.container div#today div#icons_day div.icon a img:hover {
  border: 1px solid #000;
}
/* line 179, ../sass/screen.scss */
body div#today_block div.container div#today div#icons_day div.icon span.desc, body div#article_card div.container div#today div#icons_day div.icon span.desc {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
}
/* line 189, ../sass/screen.scss */
body div#today_block div.container div#calendar_navigation, body div#article_card div.container div#calendar_navigation {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 353.333px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#today_block div.container div#calendar_navigation, * html body div#article_card div.container div#calendar_navigation {
  overflow-x: hidden;
}
/* line 192, ../sass/screen.scss */
body div#today_block div.container div#calendar_navigation #links, body div#article_card div.container div#calendar_navigation #links {
  padding-top: 10px;
}
/* line 194, ../sass/screen.scss */
body div#today_block div.container div#calendar_navigation #links a, body div#article_card div.container div#calendar_navigation #links a {
  font-size: 0.8em;
  padding-left: 10px;
}
/* line 199, ../sass/screen.scss */
body div#today_block div.container div#calendar_navigation table, body div#article_card div.container div#calendar_navigation table {
  width: 300px;
  font-size: 14px;
}
/* line 202, ../sass/screen.scss */
body div#today_block div.container div#calendar_navigation table td, body div#article_card div.container div#calendar_navigation table td {
  text-align: center;
  padding: 4px 10px 4px 5px;
  border: 1px dashed transparent;
}
/* line 206, ../sass/screen.scss */
body div#today_block div.container div#calendar_navigation table td a, body div#article_card div.container div#calendar_navigation table td a {
  text-decoration: none;
}
/* line 11, ../sass/partials/_links.scss */
body div#today_block div.container div#calendar_navigation table td a, body div#today_block div.container div#calendar_navigation table td a:visited, body div#article_card div.container div#calendar_navigation table td a, body div#article_card div.container div#calendar_navigation table td a:visited {
  color: #666666;
}
/* line 14, ../sass/partials/_links.scss */
body div#today_block div.container div#calendar_navigation table td a:hover, body div#article_card div.container div#calendar_navigation table td a:hover {
  color: black;
}
/* line 211, ../sass/screen.scss */
body div#today_block div.container div#calendar_navigation table td.current, body div#article_card div.container div#calendar_navigation table td.current {
  border: 1px dashed #666;
}
/* line 214, ../sass/screen.scss */
body div#today_block div.container div#calendar_navigation table td.today, body div#article_card div.container div#calendar_navigation table td.today {
  border: 1px solid black;
}
/* line 218, ../sass/screen.scss */
body div#today_block div.container div#calendar_navigation table td.holiday a, body div#article_card div.container div#calendar_navigation table td.holiday a {
  font-weight: bold;
}
/* line 11, ../sass/partials/_links.scss */
body div#today_block div.container div#calendar_navigation table td.weekend a, body div#today_block div.container div#calendar_navigation table td.weekend a:visited, body div#article_card div.container div#calendar_navigation table td.weekend a, body div#article_card div.container div#calendar_navigation table td.weekend a:visited {
  color: #ff6600;
}
/* line 14, ../sass/partials/_links.scss */
body div#today_block div.container div#calendar_navigation table td.weekend a:hover, body div#article_card div.container div#calendar_navigation table td.weekend a:hover {
  color: black;
}
/* line 11, ../sass/partials/_links.scss */
body div#today_block div.container div#calendar_navigation table td.great a, body div#today_block div.container div#calendar_navigation table td.great a:visited, body div#article_card div.container div#calendar_navigation table td.great a, body div#article_card div.container div#calendar_navigation table td.great a:visited {
  color: red;
}
/* line 14, ../sass/partials/_links.scss */
body div#today_block div.container div#calendar_navigation table td.great a:hover, body div#article_card div.container div#calendar_navigation table td.great a:hover {
  color: black;
}
/* line 237, ../sass/screen.scss */
body div#article_card div#img {
  float: left;
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 307.917px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#article_card div#img {
  overflow-x: hidden;
}
/* line 242, ../sass/screen.scss */
body div#article_card div#img img {
  margin: 5px;
  width: 300px;
  height: 200px;
  border: 1px solid #E4E4E4;
  padding: 5px;
}
/* line 250, ../sass/screen.scss */
body div#article_card div#card {
  padding-left: 40px;
  padding-right: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 625.833px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#article_card div#card {
  overflow-x: hidden;
}
/* line 254, ../sass/screen.scss */
body div#article_card div#card h1 {
  line-height: 80%;
  font-size: 2.5em;
}
/* line 261, ../sass/screen.scss */
body div#main_block div#main_content {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 580.417px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#main_block div#main_content {
  overflow-x: hidden;
}
/* line 265, ../sass/screen.scss */
body div#main_block div#main_content span.autor {
  font-style: italic;
  color: #666;
  font-size: 12px;
}
/* line 272, ../sass/screen.scss */
body div#main_block div#main_content div#allevent a.date {
  color: #666;
}
/* line 277, ../sass/screen.scss */
body div#main_block div#main_content div#allevent ul.articles {
  font-size: 13px;
  font-style: italic;
  padding-left: 30px;
}
/* line 283, ../sass/screen.scss */
body div#main_block div#main_content div.epigraph {
  line-height: 0.9;
  font-size: 12px;
  text-align: right;
}
/* line 289, ../sass/screen.scss */
body div#main_block div#add_content {
  padding-left: 40px;
  padding-right: 40px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 353.333px;
}
/* line 290, ../sass/screen.scss */
body div#main_block div#add_content div#adSense {
  padding-top: 25px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#main_block div#add_content {
  overflow-x: hidden;
}
/* line 296, ../sass/screen.scss */
body div#main_block div#add_content a#to_future_show {
  text-decoration: none;
  border-bottom: 1px dashed #87AF0E;
}
/* line 301, ../sass/screen.scss */
body div#main_block div#add_content div#otherDates {
  display: none;
}
/* line 305, ../sass/screen.scss */
body div#main_block div#add_content div#articles {
  padding-top: 50px;
  font-size: 14px;
}
/* line 11, ../sass/partials/_links.scss */
body div#main_block div#add_content div#articles a, body div#main_block div#add_content div#articles a:visited {
  color: #666666;
}
/* line 14, ../sass/partials/_links.scss */
body div#main_block div#add_content div#articles a:hover {
  color: black;
}
/* line 11, ../sass/partials/_links.scss */
body div#main_block div#add_content div#articles p.current a, body div#main_block div#add_content div#articles p.current a:visited {
  color: black;
}
/* line 14, ../sass/partials/_links.scss */
body div#main_block div#add_content div#articles p.current a:hover {
  color: black;
}
/* line 311, ../sass/screen.scss */
body div#main_block div#add_content div#articles p.current a {
  text-decoration: none;
}
/* line 2, ../sass/partials/_footer.scss */
body div#footer {
  background: url("/images/other_fon.jpg") transparent;
  color: #666;
  font-size: 0.8em;
  border-top: 1px solid #c6c4bc;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-top: 30px;
}
/* line 10, ../sass/partials/_footer.scss */
body div#footer a {
  text-decoration: underline;
}
/* line 11, ../sass/partials/_links.scss */
body div#footer a, body div#footer a:visited {
  color: #666666;
}
/* line 14, ../sass/partials/_links.scss */
body div#footer a:hover {
  color: black;
}
/* line 15, ../sass/partials/_footer.scss */
body div#footer div.container {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 17, ../sass/partials/_footer.scss */
body div#footer div.container h4 {
  font-size: 1.2em;
}
/* line 20, ../sass/partials/_footer.scss */
body div#footer div.container .event {
  margin: 7px 0px;
}
/* line 11, ../sass/partials/_links.scss */
body div#footer div.container .event .date a, body div#footer div.container .event .date a:visited {
  color: #666666;
}
/* line 14, ../sass/partials/_links.scss */
body div#footer div.container .event .date a:hover {
  color: black;
}
/* line 11, ../sass/partials/_links.scss */
body div#footer div.container .event .link a, body div#footer div.container .event .link a:visited {
  color: #87af0e;
}
/* line 14, ../sass/partials/_links.scss */
body div#footer div.container .event .link a:hover {
  color: black;
}
/* line 29, ../sass/partials/_footer.scss */
body div#footer div.container div#previous_events {
  padding-left: 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 307.917px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#footer div.container div#previous_events {
  overflow-x: hidden;
}
/* line 33, ../sass/partials/_footer.scss */
body div#footer div.container div#next_events {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 307.917px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#footer div.container div#next_events {
  overflow-x: hidden;
}
/* line 36, ../sass/partials/_footer.scss */
body div#footer div.container div#about {
  display: inline;
  float: left;
  margin-right: 0;
  width: 353.333px;
  padding-right: 40px;
}
/* line 147, ../../../../../ravall/.rvm/gems/ruby-1.9.3-p125@sancta/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body div#footer div.container div#about {
  overflow-x: hidden;
}
/* line 39, ../sass/partials/_footer.scss */
body div#footer div.container div#about #about_text {
  padding: 10px 0px;
}
/* line 2, ../sass/partials/_coopyright.scss */
body div#coopyright {
  font-size: 12px;
  background: #2d2d2d;
  border-top: 1px solid #000;
}
/* line 6, ../sass/partials/_coopyright.scss */
body div#coopyright div.container {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  text-align: center;
  color: #bbb;
}
/* line 3, ../sass/partials/_links.scss */
body div#coopyright div.container a {
  text-decoration: none;
  font-size: 12px;
}
/* line 11, ../sass/partials/_links.scss */
body div#coopyright div.container a, body div#coopyright div.container a:visited {
  color: #999999;
}
/* line 14, ../sass/partials/_links.scss */
body div#coopyright div.container a:hover {
  color: white;
}
